.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

body{
    background-image:url(imagenes/WhatsApp\ Image\ 2021-10-19\ at\ 20.54.43\ \(1\).jpeg);
}

main{
    color: beige;
}