#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    background-color: cadetblue;
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 2.5rem;        
}